<div class="pull-left">
  <h4 class="list-group-item-heading">{{taskItem.taskName}}</h4>
  <p class="list-group-item-text">{{taskItem.description}}</p>
</div>
<div class="pull-right" *ngIf="loadedFeature==='inputTasks'">
  <h4 class="list-group-item-heading">{{taskItem.initiator}}</h4>
  <p class="list-group-item-text">{{taskItem.finishDate}}</p>
</div>
<div class="pull-right" *ngIf="loadedFeature==='outputTasks'">
  <h4 class="list-group-item-heading">{{taskItem.executor}}</h4>
  <p class="list-group-item-text">{{taskItem.finishDate}}</p>
</div>
