<div class="table table-bordered" style="padding: 10px">
  <div class="row">
    <div class="col-xs-12">
      <form (ngSubmit)="editTask(f)" #f="ngForm">
        <div class="list-group">
          <div class="list-group-item">
            <label for="taskName">Задание</label>
            <input
              id="taskName"
              type="text"
              class="form-control"
              name="taskName"
              [ngModel]="changingTask.taskName">
          </div>
          <div class="list-group-item">
            <label for="taskInitiator">Инициатор</label>
            <input
              id="taskInitiator"
              type="text"
              class="form-control"
              name="taskInitiator"
              [ngModel]="changingTask.initiator">
          </div>
          <div class="list-group-item">
            <label for="taskExecutor">Исполнитель</label>
            <input
              id="taskExecutor"
              type="text"
              class="form-control"
              name="taskExecutor"
              [ngModel]="changingTask.executor">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-xs-offset-5">
            <button
              class="btn btn-success"
              (click)="addTask()"
              *ngIf="isNewTask">Add
            </button>
            <button
              class="btn btn-success"
              type="submit"
              *ngIf="!isNewTask">Edit
            </button>
            <button
              class="btn btn-warning"

              (click)="gotoList()">Return
            </button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
