<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-3 form-group">
          <label for="taskName">taskName</label>
          <input id="taskName" type="text" class="form-control" value="{{changingTask.taskName}}" #taskName>
        </div>
        <div class="col-sm-3 form-group">
          <label for="taskInitiator">taskInitiator</label>
          <input id="taskInitiator" type="text" class="form-control" value="{{changingTask.initiator}}" #taskInitiator>
        </div>
        <div class="col-sm-3 form-group">
          <label for="taskExecutor">taskExecutor</label>
          <input id="taskExecutor" type="text" class="form-control" value="{{changingTask.executor}}" #taskExecutor>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            class="btn btn-success"
            (click)="addTask(taskName,taskInitiator,taskExecutor)"
            *ngIf="isNewTask">Add
          </button>
          <button
            class="btn btn-success"
            (click)="editTask(taskName,taskInitiator,taskExecutor)"
            *ngIf="!isNewTask">Edit
          </button>
          <button class="btn btn-warning" type="reset" (click)="goToTaskList()">Return</button>
        </div>
      </div>
    </form>
  </div>
</div>

