<div class="table table-bordered" style="padding: 10px">
  <div class="row">
    <div class="col-xs-12">
      <form [formGroup]="taskForm"
            (ngSubmit)="editTask()"
            >
        <div class="list-group">
          <div class="list-group-item">
            <label for="name">Задание</label>
            <input
              id="name"
              type="text"
              class="form-control"
              formControlName="name"
              >
          </div>
          <div class="list-group-item">
            <label for="creator">Инициатор</label>
            <input
              id="creator"
              type="text"
              class="form-control"
              formControlName="creator"
              >
          </div>
          <div class="list-group-item">
            <label for="executor">Исполнитель</label>
            <input
              id="executor"
              type="text"
              class="form-control"
              formControlName="executor"
              >
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-xs-offset-5">
            <button
              [disabled]="!taskForm.valid"
              class="btn btn-success"
              type="submit"
              >{{ isNewTask?'Add':'Edit' }}
            </button>
            <button
              class="btn btn-warning"
              type="reset"
              (click)="gotoList()">Return
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
